/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

.tab_hide {
    display: none !important;
}

.form-messege {
    color: red;
    font-size: 12px;
}

/* ========================================= */


/* -------------- CATEGORY TAB ------------- */


/* ========================================= */

.category_delelte_btn,
.category_update_btn {
    font-size: 1.8rem;
}

.category_delelte_btn:hover,
.category_update_btn:hover {
    cursor: pointer;
    font-size: 2.1rem;
    color: var(--theme-color);
}

.category_modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
}


/* .category_modal_hide {
    display: none;
} */

.category_modal_form {
    margin: auto;
    background-color: var(--white-color);
    width: 320px;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
}


/* =============================================== */


/* ----------------- PRODUCT TAB ----------------- */


/* =============================================== */


.product_bgImg {
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    margin: 0;
}

.product_modal_hide {
    display: none;
}

#img_review {
    width: 275px;
    height: 200px;
    border: 1px solid black;
    background-size: 275px 200px;
    background-repeat: no-repeat;
}

.product_delete_btn,
.product_update_btn,
.variantAttribute_del_btn {
    font-size: 1.8rem;
    cursor: pointer;
}


/* ================================================ */


/* ---------------- ORDER NOTE TAB ---------------- */


/* ================================================ */

.orderNote_product_img {
    aspect-ratio: 1;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.background_red {
    background-color: rgba(245, 64, 45, 0.6);
    color: var(--white-color);
}

.background_blue {
    background-color: #69C9BC;
    color: var(--white-color);
}


/* ============================ */


/* ------- Account tab ------- */


/* =========================== */

.accountInfo_detail>span {
    text-decoration: underline;
}

.accountInfo_detail>span:hover {
    cursor: pointer;
    color: var(--theme-color);
}

.account_delete_btn,
.account_update_btn {
    font-size: 1.8rem;
}

.account_delete_btn:hover,
.account_update_btn:hover {
    cursor: pointer;
    font-size: 2.1rem;
    color: var(--theme-color);
}

.account_modal_hide {
    display: none;
}

#account_type_selection {
    height: 35px;
}


/* ========================== */


/* ------ REPORT TAB -------- */


/* ========================== */


/* ========================================= */


/* -------------- ATTRIBUTE TAB ------------- */


/* ========================================= */

.attribute_delete_btn,
.attribute_update_btn {
    font-size: 1.8rem;
}

.attribute_delete_btn:hover,
.attribute_update_btn:hover {
    cursor: pointer;
    font-size: 2.1rem;
    color: var(--theme-color);
}

.attribute_modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
}

.attribute_modal_form {
    margin: auto;
    background-color: var(--white-color);
    width: 320px;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
}

.attribute_modal_hide {
    display: none;
}