.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    background-color: var(--theme-color);
}

.sidebar_header {
    text-align: center;
    color: var(--white-color);
    font-size: 3rem;
    height: 6rem;   
    line-height: 6rem;
    background-color: var(--black-color);
}

.sidebar_header>i {
    font-size: 3rem;
    /* display: block; */
}

.sidebar_menu-items {
    text-align: center;
    font-size: 2rem;
    line-height: 5rem;
    height: 5rem;
    margin-top: 20px;
    margin-left: 20px;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    /* border: 2px solid var(--white-color); */
}

.sidebar_menu-items:hover {
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
}

.main_content {
    margin-left: 320px;
    padding: 0 15px 15px 15px;
    background-color: var(--background-color);
    min-height: 100vh;
}

.menu_active {
    background-color: var(--background-color);
    color: var(--text-color);
}

.tab_hide {
    display: none !important;
}

/* ========================================= */
/* -------------- CATEGORY TAB ------------- */
/* ========================================= */

.category_tab {
    display: flex;
    flex-direction: column;
}

.category_heading {
    height: 80px;
}

.category_heading>h3 {
    font-size: 3rem;
    line-height: 80px;
    color: var(--text-color);
    text-align: center;
}

.category_body {
    width: 80%;
    margin: 0 auto;
}

.category_list_header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    align-items: center;
}

.category_list_header>.category_list_items {
    font-size: 2rem;
    background-color: var(--theme-color);
    color: var(--white-color);
}

.category_list_items {
    height: 40px;
    line-height: 40px;
}

.category_list_items:nth-child(even){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.category_list_content:nth-child(even) {
    background-color: rgba(192, 192, 192, 0.3);
}

.category_list_content:nth-child(odd) {
    background-color: rgba(245, 64, 45, 0.3);
}

.category_list_items>i:first-child {
    margin-right: 10px;
}

.category_list_content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--text-color);
}

#category_add_btn{
    background-color: var(--theme-color);
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom: 20px;
    margin-left: 10%;
}

#category_add_btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

.category_delelte_btn, .category_update_btn{
    font-size: 1.8rem;
}

.category_delelte_btn:hover, .category_update_btn:hover{
    cursor: pointer;
    font-size: 2.1rem;
    color: var(--theme-color);
}

.category_modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
}

.category_modal_hide {
    display: none;
}

.category_modal_form {
    margin: auto;
    background-color: var(--white-color);
    width: 320px;
    font-size: 1.8rem;
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 275px;
}

.form-label {
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 6px;
}

.form-input {
    height: 35px;
    padding: 4px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.5rem;
}

label[for="category_id"], label[for="category_name"] {
    width: 120px;
    margin-right: 10px;
}

#category_id, #category_name {
    font-size: 1.8rem;
    color: var(--text-color);
}

.form-btns{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.form-btns>.btn {
    background-color: var(--theme-color);
    color: var(--white-color);
    margin-right: 10px;
}


/* =============================================== */
/* ----------------- PRODUCT TAB ----------------- */
/* =============================================== */

.product_tab_heading {
    height: 80px;
}

.product_tab_heading>h3 {
    font-size: 3rem;
    line-height: 80px;
    color: var(--text-color);
    text-align: center;
}

.product_search{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.product_filter_category{
    height: 35px;
    font-size: 1.7rem;
}

.product_searchbar{
    width: 40%;
    height: 35px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
}

.product_searchbar>.btn{
    display: inline-flex;
    height: 29px;
    width: 50px;
    background-color: var(--theme-color);
    margin-right: 3px;
    color: var(--white-color);
}

#product_search_input{
    flex-grow: 1;
    border: none;
    outline: none;
    height: 100%;
    padding: 0 8px;
    font-size: 1.8rem;
}

.product_list_header {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr 1fr;
    font-size: 2rem;
    margin-right: 16px;
}

.product_list_header> .product_list_items{
    background-color: var(--theme-color);
    color: var(--white-color);
    height: 50px;
    line-height: 50px;
}

.product_list{
    max-height: 72vh;
    overflow-y: scroll;
}

.product_list_content {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 0.5fr 1fr;
    font-size: 1.8rem;
}

.product_list_content:nth-child(even) {
    background-color: var(--background-color);
}

.product_list_content:nth-child(odd) {
    background-color: rgba(245, 64, 45, 0.2);
}

.product_list_items {
    text-align: center;
    line-height: 80px;
    height: 80px;
}

.product_list_items:nth-child(even){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.product_name{
    line-height: 40px !important;
    height: calc(40px*2) !important;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_list_items>i:first-child {
    margin-right: 10px;
}

.product_bgImg {
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    margin: 5px auto 0;
}

.product_modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
}

.product_modal_hide {
    display: none;
}

.product_modal_form {
    margin: auto;
    background-color: var(--white-color);
    width: 600px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#product_category_selection {
    height: 30px;
}

.img_review {
    width: 275px;
    height: 200px;
    border: 1px solid black;
    background-size: 275px 200px;
    background-repeat: no-repeat;
}

#product_add_btn{
    background-color: var(--theme-color);
    color: var(--white-color);
    font-size: 1.7rem;
    margin-right: 170px;
}

#product_add_btn:hover {
    cursor: pointer;
    opacity: 0.7;
}

.product_delete_btn, .product_update_btn{
    font-size: 1.8rem;
}

.product_delete_btn:hover, .product_update_btn:hover {
    cursor: pointer;
    font-size: 2.1rem;
    color: var(--theme-color);
}

/* ================================================ */
/* ---------------- ORDER NOTE TAB ---------------- */
/* ================================================ */


.orderNoteTab_heading {
    text-align: center;
    height: 70px;
}

.orderNote_title {
    font-size: 3rem;
    color: var(--text-color);
    line-height: 70px;
}

.orderNote_filter {
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

.orderNote_filter>button {
    font-size: 1.6rem;
    background-color: var(--theme-color);
    color: var(--white-color);
    border: none;
    border-radius: 3px;
    padding: 4px 10px;
}

.orderNote_filter>button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.orderNote_list_header {
    margin-top: 30px;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr 1.5fr .5fr;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    background-color: var(--theme-color);
}

.orderNote_list_header>.orderNote_list_items{
    color: var(--white-color);
}

.orderNote_list_header>.orderNote_list_items:last-child{
    background-color: var(--background-color);
}

.orderNote_list_items {
    color: var(--text-color);
    height: 40px;
    line-height: 40px;
}

.orderNote_list_items:nth-child(even){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.orderNote_overView {
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr 1.5fr .5fr;
    font-size: 1.6rem;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.orderNote_selection{
    height: 25px;
    width: 120px;
    text-align: center;
}

.orderNote_details {
    max-height: 390px;
    overflow-y: auto;
    transition: max-height linear 0.2s;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.orderNote_customerInfo {
    /* height: 40px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: left;
    /* background-color: rgba(245, 64, 45, 0.8); */
    background-color: var(--background-color);
}

.orderNote_customerInfo>div,  .orderNote_customerInfo>label{
    margin: 0 0 7px 10px;
    font-size: 1.6rem;
    color: var(--text-color);
    height: 30px;
    line-height: 30px;
}

.orderNote_details-hide {
    max-height: 0;
}

.orderNote_products {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr .5fr;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid black;
}

.orderNote_product_img {
    aspect-ratio: 1;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.orderNote_product_title {
    text-align: left;
    font-size: 1.6rem;
    color: var(--text-color);
}

.orderNote_products_name {
    line-height: 1.8rem;
    height: calc(1.8rem * 2);
    /* chrome version */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orderNote_products_price, .orderNote_products_quantity {
    font-size: 1.5rem;
}

.orderNote_viewDetails{
    text-decoration: underline;
}

.orderNote_viewDetails:hover {
    cursor: pointer;
    color: var(--white-color);
}

.background_red {
    background-color: rgba(245, 64, 45, 0.6);
    color: var(--white-color);
}
.background_blue {
    background-color: #69C9BC;
    color: var(--white-color);
}
/* ============================ */
/* ------- Account tab ------- */
/* =========================== */

.account_tab_heading {
    height: 80px;
}

.account_tab_heading>h3 {
    font-size: 3rem;
    line-height: 80px;
    color: var(--text-color);
    text-align: center;
}
.account_list_header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-size: 1.9rem;
}

.account_list_header>.account_list_items {
    background-color: var(--theme-color);
    color: var(--white-color);
}

.account_list_items {
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.account_list_items:nth-child(even){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.account_list_content {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    font-size: 1.5rem;
}

.accountInfo_detail>span {
    text-decoration: underline;
}

.accountInfo_detail>span:hover{
    cursor: pointer;
    color: var(--theme-color);
}

#account_add_btn{
    background-color: var(--theme-color);
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom: 20px;
}

#account_add_btn:hover{
    cursor: pointer;
    opacity: 0.7;
}

.account_delete_btn, .account_update_btn {
    font-size: 1.8rem;
}

.account_delete_btn:hover, .account_update_btn:hover {
    cursor: pointer;
    font-size: 2.1rem;
    color: var(--theme-color);
}

.account_list_content:nth-child(even){
    background-color: rgba(192, 192, 192, 0.3);
}

.account_list_content:nth-child(odd) {
    background-color: rgba(245, 64, 45, 0.2);
}
.account_list_items>i:first-child {
    margin-right: 10px;
}

.account_modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
}

.account_modal_hide {
    display: none;
}

.account_modal_form {
    margin: auto;
    background-color: var(--white-color);
    width: 320px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#account_type_selection{
    height: 35px;
}

/* ========================== */
/* ------ REPORT TAB -------- */
/* ========================== */

.report_tab_heading{
    height: 100px;
    text-align: center;
}

.report_tab_heading>h3{
    font-size: 3.4rem;
    line-height: 100px;
    color: var(--text-color);
}

.report_list_header{
    font-size: 1.7rem;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    color: var(--white-color);
    margin-right: 16px;
}

.report_list_header>.report_list_items{
    background-color: #ff422d;
    height: 40px;
    line-height: 40px;
}

.report_list_header>.report_list_items:nth-child(odd){
    background-color: #ff5e4d;
}

.report_list_items{
    height: 80px;
    line-height: 80px;
    text-align: center;
}

.report_list {
    max-height: 70vh;
    overflow-y: scroll;
}

.report_list_content{
    display: grid;
    grid-template-columns: 0.6fr 2.4fr 1fr 1fr;
    font-size: 1.8rem;
}

.report_list_content>.product_name{
    text-align: left;
}

.report_list_content:nth-child(odd){
    background-color: rgba(245, 64, 45, 0.2)
}
.report_list_content:nth-child(even){
    background-color: var(--background-color);
}

.report_list_content>.report_list_items:nth-child(3){
    border-left: 1px solid black;
    border-right: 1px solid black;;
}

.report_filter{
    height: 50px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.report_filter>.btn{
    display: inline-flex;
    color: var(--white-color);
    background-color: var(--theme-color);
    height: 30px;
    margin-right: 50px;
}

.report_result {
    display: flex;
    flex-direction: column;
}