<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang của Admin</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../style/grid_lib.css">
    <link rel="stylesheet" href="../style/base.css">    
    <link rel="stylesheet" href="./admin_page.css">
    <link rel="stylesheet" href="../style/responsive.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app_container">
        <!-- side bar -->
        <div class="sidebar">
            <div class="sidebar_header">
                <!-- logo/ svg here -->
                <i class="fa-solid fa-gear"></i>
                MyAdmin Page
            </div>
    
            <div class="sidebar_menu">
                <ul class="sidebar_menu-list">
                    <li class="sidebar_menu-items category menu_active">
                        <!-- icons, options here -->
                        <i class="fa-solid fa-list"></i>
                        Danh mục
                    </li>
                    <li class="sidebar_menu-items product">
                        <!-- icons, options here -->
                        <i class="fa-solid fa-box-open"></i>
                        Sản phẩm
                    </li>
                    <li class="sidebar_menu-items ordernote">
                        <!-- icons, options here -->
                        <i class="fa-solid fa-clipboard"></i>
                        Đơn hàng
                    </li>
                    <li class="sidebar_menu-items account">
                        <!-- icons, options here -->
                        <i class="fa-solid fa-users"></i>
                        Tài khoản
                    </li>
                    <li class="sidebar_menu-items report">
                        <!-- icons, options here -->
                        <i class="fa-solid fa-chart-pie"></i>
                        Thống kê
                    </li>
                    <li class="sidebar_menu-items logOut">
                        <!-- icons, options here -->
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        Đăng xuất
                    </li>
                </ul>
            </div>

        </div>
        <div class="main_content">
            <!-- category tab -->
            <div class="tabs category_tab category">
                <div class="category_heading">
                    <h3>QUẢN LÝ DANH MỤC</h3>
                </div>
                <div>
                    <button class="btn" id="category_add_btn">Thêm danh mục</button>
                </div>
                <div class="category_body">
                    <div class="category_list_header">
                        <div class="category_list_items">Mã danh mục</div>
                        <div class="category_list_items">Tên danh mục</div>
                        <div class="category_list_items">Actions</div>
                    </div>
                    <div class="category_list">
                        <!-- render categories -->
                    </div>
                </div>
                <!-- category modal -->
                <div class="category_modal category_modal_hide">
                    <div class="category_modal_form">
                        <div class="form-group">
                            <label for="category_id">Mã danh mục</label>
                            <input class="form-input" type="text" id="category_id" readonly>
                        </div>
                        <div class="form-group">
                            <label for="category_name">Tên danh mục</label>
                            <input class="form-input" type="text" id="category_name">                        
                        </div>
                        <span class="messege" style="color: red;"></span>
                        <div class="form-btns">
                            <button class="btn" id="category_confirm_btn">Xác nhận</button>
                            <button class="btn" id="category_cancel_btn">Hủy</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- products tab -->
            <div class="tabs product_tab product tab_hide">
                <div class="product_tab_heading">
                    <h3>QUẢN LÝ SẢN PHẨM</h3>
                </div>
                <div class="product_search">
                    <button class="btn" id="product_add_btn">Thêm sản phẩm</button>
                    <div class="product_filter">
                        <select class="product_filter_category">
                            <!-- <option value="">Tất cả</option> -->
                        </select>
                    </div>
                    <div class="product_searchbar">
                        <input type="text" id="product_search_input">
                        <button class="btn" id="product_search_btn"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="product_tab_body">
                    <div class="product_list_header">
                        <div class="product_list_items">Hình ảnh</div>
                        <div class="product_list_items">Tên sản phẩm</div>
                        <div class="product_list_items">Đơn giá</div>
                        <div class="product_list_items">Tồn kho</div>
                        <div class="product_list_items">Actions</div>
                    </div>
                    <div class="product_list">
                        <!-- js render -->
                    </div>
                    <!-- product modal -->
                    <div class="product_modal product_modal_hide">
                        <form action="" method="post" class="product_modal_form">
                            <div class="form-group">
                                <span class="form-label">ID Sản phẩm: <span id="product_id"></span></span>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="product_name">Tên sản phẩm <span style="color: red;">(*)</span></label>
                                <textarea class="form-input" type="text" id="product_name" required style="height: 50px;"></textarea>       
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="product_price">Đơn giá sản phẩm <span style="color: red;">(*)</span></label>
                                <input class="form-input" type="number" id="product_price" placeholder="Định dạng: xxx.xxx.xxx" required>    
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="product_quantity">Tồn kho <span style="color: red;">(*)</span></label>
                                <input class="form-input" type="number" id="product_quantity" required> 
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="product_category_selection">Danh mục <span style="color: red;">(*)</span></label>
                                <select id="product_category_selection">
                                    <!-- <option value="user">Khách hàng</option>
                                    <option value="adminastrator">Quản trị</option> -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="product_quantity">Mô tả <span style="color: red;">(*)</span></label>
                                <textarea class="form-input" type="text" id="product_description" required style="height: 90px;"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="product_img">Ảnh sản phẩm</label>
                                <input class="form-input" type="file" accept="image/*" id="product_img"> 
                            </div>
                            <div class="form-group">
                                <div class="img_review"></div>
                            </div>
                            <div class="form-btns">
                                <button type="submit" class="btn" id="product_confirm_btn">Xác nhận</button>
                                <button class="btn" id="product_cancel_btn">Hủy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- order notes tab -->
            <div class="tabs orderNote_tab ordernote tab_hide">
                <div class="orderNoteTab_heading">
                    <h3 class="orderNote_title">QUẢN LÝ ĐƠN HÀNG</h3>
                </div>
                <div class="orderNote_filter">
                    <label for="orderNote_date-from">Khoảng thời gian:</label>
                    <input type="date" id="orderNote_date-from">
                    đến
                    <input type="date" id="orderNote_date-to">
                    <button id="orderNote_date-btn">Lọc</button>
                    <button id="orderNote_all-btn">Tất cả</button>
                </div>
                <div class="orderNoteTab_body">
                    <div class="orderNote_list_header">
                        <div class="orderNote_list_items">Mã đơn</div>
                        <div class="orderNote_list_items">Thời gian</div>
                        <div class="orderNote_list_items">Tình trạng</div>
                        <div class="orderNote_list_items">Tổng tiền</div>
                        <div class="orderNote_list_items"></div>
                    </div>
                    <div class="orderNote_list_content">
                        <!-- render order notes -->
                    </div>
                </div>
            </div>

            <!-- accounts tab -->
            <div class="tabs account_tab account tab_hide">
                <div class="account_tab_heading">
                    <h3>QUẢN LÝ TÀI KHOẢN</h3>
                </div>
                <div>
                    <button class="btn" id="account_add_btn">Thêm tài khoản</button>
                </div>
                <div class="account_tab_body">
                    <div class="account_list_header">
                        <div class="account_list_items">Tên tài khoản</div>
                        <div class="account_list_items">Phân quyền</div>
                        <div class="account_list_items">Thông tin</div>
                        <div class="account_list_items">Actions</div>
                    </div>
                    <div class="account_list">
                        <!-- js render -->
                    </div>
                    <!-- account's modal -->
                    <div class="account_modal account_modal_hide">
                        <form action="" method="post" class="account_modal_form">
                            <div class="form-group">
                                <label class="form-label" for="account_id">Tên tài khoản <span style="color: red;">(*)</span></label>
                                <input class="form-input" type="text" id="account_id" required>    
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="account_email">Email <span style="color: red;">(*)</span></label>
                                <input class="form-input" type="text" id="account_email" required>    
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="account_pass">Mật khẩu <span style="color: red;">(*)</span></label>
                                <input class="form-input" type="text" id="account_pass" required>  
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="account_type_selection">Loại tài khoản <span style="color: red;">(*)</span></label>
                                <select id="account_type_selection">
                                    <option value="0" selected>Khách hàng</option>
                                    <option value="1">Quản trị</option>
                                </select>
                            </div>
                            <div class="form-btns">
                                <button type="submit" class="btn" id="account_confirm_btn">Xác nhận</button>
                                <button class="btn" id="account_cancel_btn">Hủy</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- reports tab -->
            <div class="tabs report_tab report tab_hide">
                <div class="report_tab_heading">
                    <h3>THỐNG KÊ KINH DOANH</h3>
                </div>
                <div class="report_filter">
                    <label for="report_date_from">Khoảng thời gian:</label>
                    <input type="date" id="report_date_from">
                    đến
                    <input type="date" id="report_date_to">
                    <select id="report_filter_category">
                        <!-- <option value="">Tất cả</option> -->
                    </select>
                    <button class="btn" id="report_filter_btn">Lọc</button>
                    <div class="report_result">
                        <span id="report_total_quantity"></span>
                        <span id="report_total_income"></span>
                    </div>
                </div>
                <div class="report_tab_body">
                    <div class="report_list_header">
                        <div class="report_list_items">Sản phẩm</div>
                        <div class="report_list_items">Số lượng bán ra</div>
                        <div class="report_list_items">Doanh thu</div>
                    </div>
                    <div class="report_list">
                        <!-- js render -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./admin.js"></script>
</body>
</html>