<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../style/grid_lib.css">
    <link rel="stylesheet" href="../style/base.css">
    <link rel="stylesheet" href="./product_details.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../components/footer.css">
    <script src="../components/footer.js" defer></script>
</head>
<body onload="renderProductDetails()">
    <!-- header -->
    <header class="header">
        <div class="grid">
            <ul class="header_list">
                <li class="header_list-item">
                    <img src="../assets/logo/squad14 (1)_transparent.png" height="70px">
                </li>
                <li class="header_list-item navItem" id="toHome">
                    <i class="fa-solid fa-house homepage_img"></i>
                    Trang chủ
                </li>
                <li class="header_list-item navItem" id="cart_parent" >
                    <div id="cart"><i class="fa-solid fa-cart-shopping cart_img" ></i> 
                        Giỏ hàng</div>
                    
                    <div class="cart_box cart_box-hide">
                        <div class="cart_list">
                            <!-- <div class="cart_items">
                                <div class="cart_items-img" style="background-image: url(https://cf.shopee.vn/file/3355a767c028c484757bb7000e71e339)"></div>
                                <div class="cart_items-body">
                                    <div class="cart_item-info">
                                        <div class="cart_items-name">Tên sản phẩm 99</div>
                                        <div class="cart_items-price">1.000.000đ</div>
                                    </div>
                                    <div class="cart_items-quantity">
                                        <i class="fa-sharp fa-solid fa-chevron-up increase"></i>
                                        4
                                        <i class="fa-solid fa-chevron-down decrease"></i>
                                    </div>
                                    <div class="cart_items-total">2.000.000đ</div>
                                    <i class="fa-solid fa-trash cart_items-trash cart_items-deleteBtn"></i>
                                </div>
                            </div> -->
                        </div>
                        <div class="cart_nofi">Không tìm thấy sản phẩm</div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <!-- app container -->
    <div class="app_container">
        <div class="grid grid2">
            <div class="grid_row" id="row">
                <div class="grid_column pc-wide_col6 pc_col6 tablet_col6 mobile_col12" id="col1">
                    <div class="product-img">

                        <img src="../assets/logo/hotdeal.png" class="banner" alt="">
                    </div>
                </div>
                <div class="grid_column pc-wide_col6 pc_col6 tablet_col6 mobile_col12" id="col2">
                    <h3 class="product-name"></h3>
                    <div class="product-rate-price">
                        <div class="product-rate">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product-price"></div>
                    </div>
                    <div class="product-desc"></div>
                    <div class="product-quantity"></div>
                    <div class="btn-wrapper">
                        <button class="product-addToCartBtn">Thêm vào giỏ hàng</button>
                    </div>
                </div>
                <!-- grid_column pc-wide_col12 pc_col12 tablet_col12 mobile_col12 -->
                <div class="slider">
                    <div class="recommend-header">
                        <h3>SẢN PHẨM GỢI Ý</h3>
                        <div class="slide-btns">
                            <div class="btn-pre"><i class="fa-solid fa-caret-left"></i></div>
                            <div class="btn-next"><i class="fa-solid fa-caret-right"></i></div>
                        </div>
                    </div>
                    <div class="slides">
                        <div class="slide">1</div>
                        <div class="slide">2</div>
                        <div class="slide">3</div>
                        <div class="slide">4</div>
                        <div class="slide">5</div>
                        <div class="slide">6</div>
                        <div class="slide">7</div>
                        <div class="slide">8</div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="product_detail_footer"></footer>
    <script src="./product_details.js"></script>
</body>
</html> 