.header {
    background: var(--primary-color);
}

.header_list {
    display: grid;
    grid-auto-flow: column;
    list-style: none;
    align-items: center;
}

.header_logo-img {
    width: 150px;
}

.header_list-item {
    font-size: 2.2em;
    color: var(--white-color);
    text-align: center;
}

.homepage_img, .cart_img {
    font-size: 3rem;
}

.navItem:hover {
    cursor: pointer;
}

.app_container {
    /* height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--background-color); */
    /* height: 100vh; */
    background-color: var(--background-color);
    display: flex;
}

.grid2 {
    margin: 6% auto 0;
}

.product-img {
    padding-top: 56.25%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner {
    width: 100%;
    height: 40px;
}

.product-name {
    font-size: 2.8rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 3rem;
    height: calc(3rem*2);
    /* chorme version */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-rate-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.product-rate {
    color: var(--theme-color);
    font-size: 1.3rem;
    margin-right: 30px;
}
.product-price {
    color: var(--theme-color);
    font-size: 2rem;
}
.product-desc {
    color: var(--text-color);
    font-size: 2rem;
    /* line-height: 2.2rem;
    height: calc(2.2rem*2); */
    margin-top: 20px;
    /* chorme version */
    /* display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; */
}
.product-quantity {
    color: var(--text-color);
    font-size: 1.7rem;
    /* text-align: center; */
    margin-top: 20px;
}

.btn-wrapper {
    /* text-align: center; */
    margin-top: 20px;
}

.product-addToCartBtn {
    font-size: 1.6rem;
    height: 35px;
    padding: 4px 16px;
    border: none;
    border-radius: 4px;
    background-color: var(--theme-color);
    color: var(--white-color);
    cursor: pointer;
}

.product-addToCartBtn:hover {
    opacity: 0.7;
}

.slider {
    width: 1200px;
    overflow:  hidden;
    margin: 20px 0 60px 0;
}

.slides {
    width: 500%;
    display: flex;
    transition: 0.5s;
}

.slide {
    width: 224px;
    border: 1px solid #666;
    margin-left: 8px;
    margin-right: 8px;
    background-color: var(--white-color);
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.rcm-product-img {
    aspect-ratio: 1.49;
    background-size: 222px 149px;
    background-repeat: no-repeat;
}

.rcm-product-name {
    font-size: 1.5rem;
    line-height: 1.5rem;
    height: calc(1.5rem*2);
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rcm-product-price {
    color: var(--theme-color);
    font-size: 1.4rem;
    margin: 5px 0;
}

.rcm-product-detailsBtn {
    background-color: var(--theme-color);
    color: var(--white-color);
    font-size: 2rem;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(224px / 2);
    transform: translateX(-50%);
    cursor: pointer;
}

.recommend-header {
    display: flex;
    justify-content: space-between;
}

.recommend-header>h3 {
    font-size: 2.5rem;
    font-weight: 600;
    height: 50px;
    display: block;
    margin-left: 8px;
}

.slide-btns {
    display: flex;
    font-size: 2rem;
    margin-right: 8px;
}

.btn-next, .btn-pre {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 739px) {
    #row {
        margin: 0 4px 0 4px;
    }
    .grid2 {
        margin: 10px auto 0;
    }
}

/* Gio hang */
#cart_parent{
    position: relative;
}


.cart_box {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    width: 600px;
    min-height: 100px;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 100;
    padding: 10px;
    animation: grow-up 0.2s ease-in;
    transform-origin: calc(100% - 160px/2) top;
}

/* .cart_box::before {
    content: "";
    position: absolute;
    top: -10px;
    right: calc(160px / 2);
    transform: translateX(50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid var(--white-color);
} */

.cart_box-hide {
    display: none;
}

.cart_list {
    max-height: 376px;
    overflow-y: auto;
}

.cart_items {
    display: flex;
    margin-bottom: 8px;
}

.cart_items-img {
    aspect-ratio: 1;
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}

.cart_items-body {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr 0.5fr;
    align-items: center;
    margin-left: 20px;
}

.cart_item-info {
    font-size: 1.6rem;
    text-align: left;
}

.cart_items-name {
    margin-bottom: 8px;
    line-height: 1.8rem;
    color: black;
    height: calc(1.8rem * 2);
    /* chrome version */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart_items-price {
    color: var(--theme-color);
}
.cart_items-quantity {
    color: var(--text-color);
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart_items-total {
    font-size: 1.6rem;
    color: var(--theme-color);
}

.cart_items-trash {
    font-size: 1.8rem;
    color: black;
}

.cart_nofi {
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cart_confirm-btn {
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--white-color);
    background-color: var(--theme-color);
    border-radius: 3px;
    height: 30px;
    width: 220px;
    padding: 5px 8px;
}

.cart_confirm-btn:hover {
    cursor: pointer;
    opacity: 0.6;
}

@keyframes grow-up {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}